<!-- Footer -->
<div class="footer">
  <hr>
  <div class="footer-container">
    <div class="footer-link"><a href="">Newsletter</a></div>
    <div class="footer-link"><a href="">Contact</a></div>
    <div class="footer-link"><a href="">Press rooms</a></div>
    <div class="footer-link-sm"><a href=""><img src="/src/assets/images/facebook.png" alt="facebook"></a></div>
    <div class="footer-link-sm"><a href=""><img src="/src/assets/images/twitter.png" alt="twitter"></a></div>
    <div class="footer-link-sm"><a href=""><img src="/src/assets/images/youtube.png" alt="youtube"></a></div>  
  </div>

  <div class="contact-info">
    EC1 GALLERY <br>
    344 Clerkenwell Road <br>
    London <br>
    EC1 5RS <br>
    Tel +44 (0) 207 123 4567 <br>
  </div>
</div>