  <!-- Artists -->
  <div id="artists" class="artists">
    <hr>
  <!-- start of section-top -->
  <div class="section-top">
    <div class="div-name section-name">
      <h3>Artists</h3> 
    </div>
    <div class="view-all section-viewAll">
      <a href="">View All</a> 
    </div>
  </div>
  <!-- end of section-top -->
  <div class="artists-container">
      <div>
        <ul class="list-unstyled">
          <li><a href="">Franz Ackermann</a></li>
          <li><a href="">Etel Adnan</a></li>  
          <li><a href="">Darren Almond</a></li>      
          <li><a href="">Ellen Altfest</a></li>
          <li><a href="">Michael Armitage</a></li>      
          <li><a href="">Miroslaw Balka</a></li>     
          <li><a href="">Georg Baselitz</a></li>     
          <li><a href="">Larry Bell</a></li>                  
          <li><a href="">Jake & Dinos Chapman</a></li>    
          <li><a href="">Chuck Close</a></li>               
          <li><a href="">Gregory Crewdson</a></li>       
          <li><a href="">Tracey Emin</a></li>        
          <li><a href="">Katharina Fritsch</a></li>     
          <li><a href="">Theaster Gates</a></li>          
          <li><a href="">Gilbert & George</a></li>    
          <li><a href="">Antony Gormley</a></li>    
          <li><a href="">Andreas Gursky</a></li>                                                                                                        
        </ul>
      </div>
      <div>
        <ul class="list-unstyled">
          <li><a href="">David Hammons</a></li>
          <li><a href="">Mona Hatoum</a></li>  
          <li><a href="">He Xiangyu</a></li>      
          <li><a href="">Damien Hirst</a></li>
          <li><a href="">Robert Irwin</a></li>      
          <li><a href="">Runa Islam</a></li>      
          <li><a href="">Sergej Jensen</a></li>      
          <li><a href="">Anselm Kiefer</a></li>      
          <li><a href="">Rachel Kneebone</a></li>      
          <li><a href="">Imi Knoebel</a></li>  
          <li><a href="">Elad Lassry</a></li>      
          <li><a href="">Liza Lou</a></li>              
          <li><a href="">Jac Leirner</a></li>      
          <li><a href="">Liu Wei</a></li>                    
          <li><a href="">Christian Marclay</a></li>              
          <li><a href="">Josiah McElheny</a></li>      
          <li><a href="">Julie Mehretu</a></li>                                                                                                                 
        </ul>
      </div>
      <div>
        <ul class="list-unstyled">
          <li><a href="">Beatriz Milhazes</a></li>
          <li><a href="">Harland Miller</a></li>            
          <li><a href="">Sarah Morris</a></li>
          <li><a href="">Gabriel Orozco</a></li>                       
          <li><a href="">Damián Ortega</a></li>
          <li><a href="">Virginia Overton</a></li>                    
          <li><a href="">Eddie Peake</a></li>
          <li><a href="">Magnus Plessen</a></li>             
          <li><a href="">Jessica Rankin</a></li>
          <li><a href="">Christian Rosa</a></li>                   
          <li><a href="">Doris Salcedo</a></li>
          <li><a href="">Raqib Shaw</a></li>                     
          <li><a href="">Haim Steinbach</a></li>
          <li><a href="">Sam Taylor-Johnson</a></li>                          
          <li><a href="">Fred Tomaselli</a></li>
          <li><a href="">Jeff Wall</a></li>                
          <li><a href="">Cerith Wyn Evans</a></li>                                                                                                   
        </ul>
      </div>
      <div>
        <img src="/src/assets/images/artists_list_image.png" alt="artists_list_image" class="artists_list_image">
      </div>
  </div>

  </div>
  <!-- end of Artists -->
