<!-- Video -->
<div id="video" class="channel">
  <hr>
  <!-- start of section-top -->
  <div class="section-top">
    <div class="div-name section-name">
      <h3>News & Events</h3> 
    </div>
    <div class="view-all section-viewAll">
      <a href="">View All</a> 
    </div>
  </div>
  <!-- end of section-top -->
  <div class="videoHolder">
    <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/3lwuFq5_6c0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-desc-container">
    <div>
      <div class="video-caption">
        Anselm Kiefer
      </div>
      <div class="video-description">
        In conversation with Tim Marlow
        In the Auditorium
      </div>
    </div>
    <div class="video-description2">
      In this film Anselm Kiefer discusses his work and his exhibition
      ‘Walhalla’ at White Cube Bermondsey with Tim Marlow.
    </div>
  </div>

</div>
<!-- end of Video -->
