<hr>
<!-- start of section-top -->
<div class="section-top">
  <div class="div-name section-name">
    <h3>News & Events</h3> 
  </div>
  <div class="view-all section-viewAll">
    <a href="">View All</a> 
  </div>
</div>
<!-- end of section-top -->
<!-- start of news -->
<div class="container">
    <div>
      <a href=""><img src="/src/assets/images/event1.png" alt=""></a>
      <div class="event-name">
        <a href="">
          Exhibition: He Xiangyu monograph
          released by Distanz
        </a>
      </div>
      <div class="event-date">
        From March 2016
      </div>
      <div class="event-description">
        He Xiangyu and Liu Wei are among
        74 international artists from 33
        countries chosen to feature in the
        Yinchuan Biennale 2016
      </div>
    </div>
    <div>
      <a href=""><img src="/src/assets/images/event2.png" alt=""></a>
      <div class="event-name">
        <a href="">
          Exhibition: Runa Islam at SFMOMA,
          San Francisco
        </a> 
      </div>
      <div class="event-date">
        From March 2016
      </div>
      <div class="event-description">
        ‘Verso’, SFMOMA’s solo
        presentation of Bangladeshi-born
        British artist Runa Islam, features
        the US premiere of Cabinet of
        Prototypes (2009-10)
      </div>
    </div>
    <div>
      <a href=""><img src="/src/assets/images/event3.png" alt=""></a>
      <div class="event-name">
        <a href="">
          Preview: White Cube Mason’s Yard
        </a> 
      </div>
      <div class="event-date">
        19 January 2017, 6 to 8pm
      </div>
      <div class="event-description">
        Join us at Mason's Yard, London for
        the preview of the new Park Seo-Bo
        exhibition curated by Katharine
        Kostyál. Curated by Katharine
        Kostyá
      </div>
    </div>
</div>
<!-- end of news -->